/* SLIDER
-----------------------------------------------------------------------------*/

.arrow{
	display:block;
}

.arrow-left{
	float:left;
}

.arrow-right{
	float:right;
}

/* CONTENT
-----------------------------------------------------------------------------*/

/* Content Top
-----------------------------------------------------------------------------*/

.content-top{
	
}

.tabs ul li{
	float:left;
}

