/* HEADER
-----------------------------------------------------------------------------*/

.header{
	height: auto;
}

/* Header Top
-----------------------------------------------------------------------------*/

.header-top{
	
}

.header-top *{
	float:left;
}


/* Header Nav
-----------------------------------------------------------------------------*/

.header-nav{
	
}

.header-nav>*{
	float:left;
}

.search>*{
	float:left;
}


/* CONTENT
-----------------------------------------------------------------------------*/

.content{
	
}

/* FOOTER
-----------------------------------------------------------------------------*/

.footer{
	
}

/* Footer Top
-----------------------------------------------------------------------------*/
.footer-top div{
	float:left;
}

.footer-top{
	
}

/* Footer Nav
-----------------------------------------------------------------------------*/
.footer-nav-col{
	float:left;
}

.social-networks a{
	float:left;
}


/* Footer Bottom
-----------------------------------------------------------------------------*/

.copyright{
	float:left;
}

.site-info{
	float:right;
}